@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div style="color:#009150"> Fuel Up - Power On - Drive Ahead</div>
            <img src="/fuelstationFavicon.png" alt="Icon">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
