@page "/"

<PageTitle>Fuel Station - Index</PageTitle>

<h1 style="color:#009150">Gas-N-Go</h1>

<p style="color:#009150">Welcome to our Fuel Station</p>

<SurveyPrompt Title="Here you can do anything!" />
