@page "/login"
@using FuelStation.Model.Enums;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Session;
@inject NavigationManager navigationManager
@*@inject IHttpContextAccessor httpContextAccessor*@

<PageTitle>Fuel Station - Login</PageTitle>

<h2 style="color:#009150">Login</h2>
<p style="color:#009150">Please select your Employee Type</p>

<div class="container login">
    <div class="login-buttons" style="display:inline-flex;flex-direction:column">
        <button style="color:#009150;border:1px solid #009150;padding:15px 100px;margin-top:30px" @onclick="() => LoginAs(EmployeeType.Manager)">Manager</button>
        <button style="color:#009150;border:1px solid #009150;padding:15px 100px;margin-top:30px" @onclick="() => LoginAs(EmployeeType.Cashier)">Cashier</button>
        <button style="color:#009150;border:1px solid #009150;padding:15px 100px;margin-top:30px" @onclick="() => LoginAs(EmployeeType.Staff)">Staff</button>
    </div>
</div>

@code {

    private void LoginAs(EmployeeType employeeType) {
        //httpContextAccessor.HttpContext.Session.SetString("EmployeeType", employeeType.ToString());
        navigationManager.NavigateTo("/");
    }


}
