@page "/"

<PageTitle>Pet Shop</PageTitle>

<h1>Welcome to Pet Shop</h1>

<img src="img/Background.png" />

<hr />

<footer>
	<div class="position-relative" style="display: flex; justify-content: center; align-items: center;">
	<p class="text-muted small d-flex align-items-center" style="margin-right: 10px;">
		All rights reserved. &copy; 2023 Yellow Team.
		<a href="https://www.epsilonnet.gr/" target="_blank" class="text-primary" style="font-size: 1.2rem; margin-left: 10px;">
			<img src="/img/EpsilonNetLogo.png" alt="Home" style="width: 5rem; height: 2.5rem;">
		</a>
	</p>
	</div>
</footer>