@page "/"

<PageTitle>Pet Shop</PageTitle>

<div class="text-center">
	<h1>Welcome to Pet Shop</h1>
	<img src="img/Background.png" />
</div>
<hr />
<div class="text-center">
	<figure class="hover-img">
		<img src="/img/UserIcon1.png" />
		<figcaption>
			<h3>Ioanna <br />Kouniou</h3>
		</figcaption>
	</figure>

	<figure class="hover-img">
		<img src="/img/UserIcon2.png" />
		<figcaption>
			<h3>Chris <br />Typou</h3>
		</figcaption>
	</figure>

	<figure class="hover-img">
		<img src="/img/UserIcon3.png" />
		<figcaption>
			<h3>Christos <br />Kontorias</h3>
		</figcaption>
	</figure>

	<figure class="hover-img">
		<img src="/img/UserIcon4.png" />
		<figcaption>
			<h3>Anestis <br />Kountourgiannis</h3>
		</figcaption>
	</figure>
</div>

<footer class="my-footer">
	<div>
		<p class="text-muted small d-flex align-items-center">
			All rights reserved. &copy; 2023 Yellow Team.
		</p>
	</div>
</footer>

<style>
	.hover-img {
		border-radius: 50%;
		background-color: #000;
		color: #fff;
		display: inline-block;
		margin: 8px;
		max-width: 200px;
		min-width: 200px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 100%;
	}

		.hover-img * {
			box-sizing: border-box;
			transition: all 0.45s ease;
		}

		.hover-img::before,
		.hover-img::after {
			background-color: rgba(0, 0, 0, 0.5);
			border-top: 32px solid rgba(0, 0, 0, 0.5);
			border-bottom: 32px solid rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			transition: all 0.3s ease;
			z-index: 1;
			opacity: 0;
			transform: scaleY(2);
		}

		.hover-img img {
			vertical-align: top;
			max-width: 100%;
			backface-visibility: hidden;
		}

		.hover-img figcaption {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			align-items: center;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			line-height: 1.1em;
			opacity: 0;
			z-index: 2;
			transition-delay: 0.1s;
			font-size: 24px;
			font-family: sans-serif;
			font-weight: 400;
			letter-spacing: 1px;
			text-transform: uppercase;
		}

		.hover-img:hover::before,
		.hover-img:hover::after {
			transform: scale(1);
			opacity: 1;
		}

		.hover-img:hover > img {
			opacity: 0.7;
		}

		.hover-img:hover figcaption {
			opacity: 1;
		}

	footer {
		position: relative;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.my-footer p {
			margin-right: 10px;
		}

		.my-footer .text-primary {
			font-size: 1.2rem;
			margin-left: 10px;
		}

</style>
