@page "/"

<PageTitle>Pet Shop</PageTitle>

<link href="/css/index.css" rel="stylesheet" />



<div class="text-center">
	<h1>Welcome to Pet Shop</h1>
	<img src="img/Background.png" />
</div>
<hr />


<div class="container py-5 text-center" id="team">
	<h2>OUR TEAM</h2>

	<div class="row d-inline-block m-2">
		<div class="col">
			<img id="img1" src="/img/Home.png" alt="img" class="rounded-circle img-fluid">
			<h3>Name Surname</h3>
			<p>Developer</p>
		</div>
	</div>

	<div class="row d-inline-block m-2">
		<div class="col">
			<img id="img2" src="/img/Home.png" alt="img" class="rounded-circle img-fluid">
			<h3>Name Surname</h3>
			<p>Developer</p>
		</div>
	</div>

	<div class="row d-inline-block m-2">
		<div class="col">
			<img id="img3" src="/img/Home.png" alt="img" class="rounded-circle img-fluid">
			<h3>Name Surname</h3>
			<p>Developer</p>
		</div>
	</div>

	<div class="row d-inline-block m-2">
		<div class="col">
			<img id="img4" src="/img/Home.png" alt="img" class="rounded-circle img-fluid">
			<h3>Name Surname</h3>
			<p>Developer</p>
		</div>
	</div>
</div>




<footer class="my-footer">
	<div>
		<p class="text-muted small d-flex align-items-center">
			All rights reserved. &copy; 2023 Yellow Team.
		</p>
	</div>
</footer>