@page "/MonthlyLedger"
@using PetShop.Web.Blazor.Shared.Transaction;
@inject HttpClient httpClient
<h3>MonthlyLedger</h3>
@if (isLoading) {
	<p> Loading ... </p>
} else {
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Year</th>
				<th>Month</th>
				<th>Income</th>
				<th>Expenses</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tbody>
		</table>
}

@code {
	private List<TransactionListDto> transactionList = new();
	bool isLoading { get; set; } = true;
	protected override async Task OnInitializedAsync()
	{
		await LoadItemsFromServer();
		isLoading = false;
	}
	private async Task LoadItemsFromServer()
	{
		transactionList = await httpClient.GetFromJsonAsync<List<TransactionListDto>>("transaction");
	}
}
