@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page">
    <h1 class="display-4">Car Service Center</h1>
    <p>Manage all the functionalities of your Business simple and easy.</p>
</div>
