body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    background-color: #f1f5f6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin: 10px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 500px;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    color: #47c6ad;
}

/* Main Content */
.content{
    width: 1100px;
    margin: auto;
    margin-top: 50px;
}

.content h1{
    font-weight: bold;
    color: #313536;
}

.article{
    display: flex;
    justify-content: center;
    gap: 27px;

}

.article-img img{
    width: 250px;
}

.main{
    color: #9ca49e;
    padding-bottom: 10px;
}

.main p{
    margin-top: auto;
}

.main p strong{
    color: #4E524F;
}

ul li::marker {
    color: #4E524F;
}

.main h2{
    color: #4E524F;
    font-weight: 100;
}

.form-item{
    color: #4E524F;
    margin-top: 15px;
}

.form-item input, textarea{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #E8E8E8;
    border-radius: 9px;
    padding: 7px;
    resize: none;
}

button{
    background-color: #47c6ad;
    border: 1px solid #47c6ad;
    color: white;
    padding: 5px;
    border-radius: 9px;
    width: 90px;
    margin-top: 8px;
}

button:hover{
    background-color: white;
    border: 1px solid #47c6ad;
    color: #47c6ad;
}

.side{
    margin-top: -20px;
}

.side ol{
    padding-left: 0;
}

.side-links{
    display: flex;
    flex-direction: column;
}

.side h2{
    color: #4E524F;
    font-weight: 100;
}

.side a{
    text-decoration: none;
    color: #47c6ad;
}

.side li{
    list-style: none;
    border-bottom: 1px solid #E8E8E8;
    padding: 15px 0 15px 0;
}

@media (max-width: 400px) {
  
    header {
        justify-content: center;
    }
    .article{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .content{
        width: auto;
    }
    
  }